
<!--<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>To-Do</h1>
    <p class="lead">Web application to manage your tasks</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>-->

<style>
  .material-icons.orange600 { color: #FB8C00; }
  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
  }
</style>

<div layout="row" layout-wrap>
  <div flex="25">
  </div>
  <div flex="50">
    <div ng-controller="tasks" layout="column" ng-cloak class="md-inline-form" style="height:700px;">
      <form name="form" ng-submit="addtask()">
        <md-content md-theme="docs-grey" layout-padding layout="column" layout-sm="column">
          <div layout="row">
            <md-input-container style="margin-bottom: 0px;" flex>
              <label>Title</label>
              <input name="newTask" ng-model="task.title" md-maxlength="36" required>
            </md-input-container>
            <div layout layout-sm="column">
              <md-datepicker ng-model="task.date" md-placeholder="Enter date"></md-datepicker>
            </div>
          </div>
          <div layout="row">
            <md-input-container class="md-block" style="margin-bottom: 0px; height: auto;margin-top: 0px;" flex>
              <label>Description</label>
              <textarea ng-model="task.description" columns="1" md-maxlength="75"></textarea>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex style="margin-top: 7px;">
              <label>Category</label>
              <md-select ng-model="task.category">
                <md-option ng-repeat="category in categories" value="{{category.cat}}">
                  {{category.cat}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-button>DONE</md-button>
          </div>
        </md-content>
      </form>
      <div layout="row">
        <md-subheader class="md-no-sticky" flex>My tasks</md-subheader>
        <div layout layout-sm="column">
          <md-subheader class="md-no-sticky">Remove completed</md-subheader>
          <md-button class="md-icon-button">
            <md-icon class="material-icons">delete</md-icon>
          </md-button>
        </div>
      </div>
      <md-content>
        <md-list>
          <md-divider></md-divider>
          <md-list-item class="md-2-line" ng-repeat="task in task">
            <md-checkbox class="md-primary" ng-model="task.done"></md-checkbox>
            <div class="md-list-item-text">
              <h3>{{task.title}}</h3>
              <p>{{task.description}}</p>
            </div>
            <md-icon class="md-secondary" ng-click="toggleRight()" ng-hide="isOpenRight()" >more_horiz</md-icon>
            <div class="md-list-item-text">
              <p align=right style="padding-right: 40px;">{{task.date | date}}</p>
            </div>
            <!--<md-button ng-click="doSecondaryAction($event)">EDIT</md-button>-->
            <md-divider></md-divider>
          </md-list-item>
        <md-list>
      </md-content>

      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Edit Task</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
          <form>
            <div layout="row">
              <md-input-container flex>
                <label>Title</label>
                <input ng-model="task.title" md-maxlength="36" required>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Description</label>
                <textarea ng-model="task.description" columns="1" md-maxlength="75"></textarea>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container flex>
                <label>Category</label>
                <md-select ng-model="task.category">
                  <md-option ng-repeat="category in categories" value="{{category.cat}}">
                    {{category.cat}}
                  </md-option>
                </md-select>
              </md-input-container>
              <div layout layout-sm="column">
                <md-datepicker ng-model="task.date" md-placeholder="Enter date"></md-datepicker>
              </div>
            </div>
          </form>
          <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>
      </md-sidenav>

    </div>

  </div>
  <div flex="25">
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>-->
