
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>To-Do</h1>
    <p class="lead">Web application to manage your tasks</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <md-input-container>
      this is the color: {{color}}
      <label>Color</label>
      <input type="text" ng-model="color" required md-maxlength="10">
    </md-input-container>


    <div ng-controller="AppCtrl" style="padding: 40px;" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="toDoApp">
      <md-content>

        <h4>Standard date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>

        <h4>Disabled date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled=""></md-datepicker>

        <h4>Date-picker with min date and max date</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>

        <h4>With ngMessages</h4>
        <form name="myForm">
          <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date" required="" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>

          <div class="validation-messages" ng-messages="myForm.dateField.$error">
            <div ng-message="required">This date is required!</div>
            <div ng-message="mindate">Date is too early!</div>
            <div ng-message="maxdate">Date is too late!</div>
          </div>
        </form>
      </md-content>
    </div>


  </div>
</div>

<div class="container">
  <!--<div class="row">
    <p></p>
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="input-group-btn">
        <input type="text" class="form-control" aria-label="Text input with multiple buttons" placeholder="Add note">
        <input type="text" class="form-control" id="date" placeholder="Date">
      </div>
      <script type="text/javascript">
        $(function calendar() {
          $('#date').datetimepicker({
          });
        });
      </script>
    </div>
    <div class="col-md-3"></div>
  </div>-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
